<h3 class="section-title mt-5" appScrollAnimation="animate__bounce">
  Our Work
</h3>
<div class="row text-center my-5 w-100 align-items-center">
  <div class="col p-0" appScrollAnimation="animate__backInLeft">
    <i class="bi bi-clipboard-data"></i>
    <p class="name">Creative Ideas</p>
    <h4 class="number">+999</h4>
  </div>
  <div class="line col-auto"></div>

  <div class="col" appScrollAnimation="animate__backInUp">
    <i class="bi bi-hourglass-top"></i>
    <p class="name">Pending Projects</p>
    <h4 class="number">+55</h4>
  </div>
  <div class="line col-auto"></div>
  <div class="col p-0" appScrollAnimation="animate__backInRight">
    <i class="bi bi-star-fill"></i>
    <p class="name">Satisfied Clients</p>
    <h4 class="number">+95</h4>
  </div>
</div>
