<div class="optimize mt-5" id="About_Us">
  <div class="section-title text-center" appScrollAnimation="animate__fadeIn">
    About
  </div>

  <div class="row w-100 mx-0 mt-3">
    <img
      class="col-8 col-md-5 col-lg-4 p-0 image"
      src="../../../../../assets/img/left_arrow_db.webp"
    />
    <div
      class="col-12 col-md-7 col-lg-8 my-auto px-5"
      appScrollAnimation="animate__fadeInRight"
    >
      <h3>WE ARE THE BONDERS!</h3>
      <div class="description-title">
        Bonders are a blend of cheerful, uprising and creative peeps working to
        deliver outstanding services. We are committed and loyalty runs in the
        veins; when we are put together our results blow minds
      </div>
    </div>
  </div>
</div>
