<div class="section-container" id="home">
  <img src="./assets/img/waves.png" class="waves" />
  <div class="descriptions">
    <img
      src="./assets/img/dark-logo.png"
      class="logo"
      appScrollAnimation="animate__zoomIn"
    />
    <div class="text-center mt-4" appScrollAnimation="animate__shakeX">
      <i class="bi bi-whatsapp fs-5 gradient-button">Contact Us</i>
    </div>

    <div class="text-center mt-2 mt-md-3 d-none d-md-block">
      <img class="arrow" src="./assets/img/white-arrows.png" />
    </div>
  </div>
</div>
